/* Estilos para a tabela de chamados */
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px; /* Espaçamento acima da tabela */
}

table th, table td {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
}

/* Estilo para as células do cabeçalho da tabela */
table th {
  background-color: #333; /* Cor de fundo escura para o cabeçalho */
  color: #fff; /* Texto branco */
  font-weight: bold; /* Texto em negrito */
}

/* Estilo para as células de dados da tabela */
table td {
  background-color: #f5f5f5; /* Cor de fundo mais clara para as células de dados */
}

/* Estilo para o botão "Andamento" na tabela */
table button {
  background-color: #333; /* Cor de fundo escura para o botão */
  color: #fff; /* Texto branco */
  padding: 5px 10px; /* Espaçamento interno menor */
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

table button:hover {
  background-color: #555; /* Cor de fundo mais escura quando o cursor estiver sobre o botão */
}



  
  /* Estilo para o título da página */
  h1 {
    font-size: 3vw;
    border: 30px solid rgb(41, 41, 49);
    border-radius: 10px;
    margin-bottom: 20px;
    background-color: rgb(41, 41, 49);
    color: aliceblue;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  
  /* Estilo para o contêiner da tabela */
  div {
    margin: 20px;
  }
  