body {
  overflow-x: hidden; /* Isso remove a barra de rolagem horizontal */
  margin: 0;
  padding: 0;
}

.Container {
  align-items: flex-start;
  width: 65%;
  margin: auto;
  overflow:auto;
  min-height: 300px;
  padding: 10px;
}

.Content {
  gap: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  box-shadow: 0 1px 2px #0003;
  background-color: white;
  max-width: 350px;
  padding: 20px;
  border-radius: 5px;
}


.Label {
  font-size: 18px;
  font-weight: 600;
  color: #676767;
  margin-bottom: 40px;
  margin-right: 10px;  
}

.Label .description{
  margin-right: 10px;
}

.LabelAnexo {
  font-size: 18px;
  font-weight: 600;
  color: #676767;
  margin-top: 35px;
  margin-right: 10px;
  
}

.Column {
   
  flex-direction: column;
  flex: 1;
}

.LabelContainer{
  display: flex;
  margin-bottom: 10px;
}

.Anexo {
  
  border-radius: 5px;
  background-color: #fafafa;
  height: 121px; 
}

#enviar {
  display: flex;
  justify-content: center;  
}
.InputContainer {
  display: flex;
  align-items: center;
  margin-right: 10px;
  
}

.labelError {
  font-size: 14px;
  color: red;
}

.Strong {
  cursor: pointer;
}

.Strong a {
  text-decoration: none;
  color: #676767;
}

.Menu {
  text-align: center;
}

.App-header {
  background-color: #ebedf1;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

h1 {
  font-size: 2em;
}

#sidebar {
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  width: 250px;
  background-color: #313132;
  padding-top: 20px;
  color: white;
}

.sidebar-header {
  text-align: center;
  padding-bottom: 10px;
}

.list-unstyled {
  padding-left: 0;
  list-style: none;
}

.list-unstyled a {
  color: white;
  text-decoration: none;
  padding: 8px 10px;
  display: block;
}

.list-unstyled a:hover {
  background-color: #495057;
}

.MenuSup{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #eee;
  width: 102%;
  padding: 0 20px;
  margin-bottom: 20px;
  height: 80px;  
  margin-top: -20px; 
}

#MenuSupItem {
  float: right;
  text-align: center;
  margin-right: 10px;   
}

#img-menu {
  float: right;
  /* margin-right: 10px;  */
  
}

textarea {
  width: 100%;
  height: 150px;
  resize: vertical; /* ou "both" se quiser permitir redimensionamento horizontal também */
}


/* Estilo para o botão "Enviar" */
button {
  background-color: #333; /* Cor de fundo escura */
  color: #fff; /* Texto branco */
  padding: 10px 20px; /* Espaçamento interno */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  float: right; /* Alinha à direita */
}

button:hover {
  background-color: #555; /* Cor de fundo mais escura quando o cursor estiver sobre o botão */
}

/* Estilos para as caixas de texto (inputs) */
.Label input {
  width: 100%; /* Ocupa toda a largura disponível */
  padding: 10px; /* Espaçamento interno */
  border: 1px solid #ccc; /* Borda com cor de cinza */
  border-radius: 5px; /* Borda arredondada */
  background-color: #f5f5f5; /* Cor de fundo mais clara */
  color: #333; /* Cor do texto */
  font-size: 14px; /* Tamanho da fonte */
}

.Label input:focus {
  border-color: #555; /* Borda mais escura quando a caixa de texto está em foco */
}


/* Estilos para o textarea de descrição */
.descricao-input {
  width: 100%; /* Ocupa toda a largura disponível */
  padding: 10px; /* Espaçamento interno */
  border: 1px solid #ccc; /* Borda com cor de cinza */
  border-radius: 5px; /* Borda arredondada */
  background-color: #f5f5f5; /* Cor de fundo mais clara */
  color: #333; /* Cor do texto */
  font-size: 14px; /* Tamanho da fonte */
}

.descricao-input:focus {
  border-color: #555; /* Borda mais escura quando o textarea está em foco */
}

/* Estilos para a caixa de seleção personalizada */
.select-personalizado {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f5f5f5;
  color: #333;
  font-size: 14px;
}

.select-personalizado:focus {
  border-color: #555;
}

/* Estilos para o campo "Tipo de serviço" (caixa de seleção) */
.Label select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f5f5f5;
  color: #333;
  font-size: 14px;
}

.Label select:focus {
  border-color: #555;
}

/* Estilo para o input de arquivo (caixa de anexos) */
.anexo-input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f5f5f5;
  color: #333;
  font-size: 14px;
}

.anexo-input:focus {
  border-color: #555;
}

/* Estilo para o texto "Campo obrigatório" (mensagem de erro) */
.error-message {
  color: red; /* Cor vermelha */
  font-size: 16px; /* Tamanho da fonte maior */
  font-weight: bold; /* Negrito para destaque */
  margin-top: 5px; /* Margem superior para espaçamento */
}

/* Página meu painel*/

/* Estilos para o container das caixas */
.containerBoxes {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
}

/* Estilos para as caixas individuais */
.box {
  flex: 1;
  background-color: #f5f5f5; /* Cor de fundo acinzentada agradável */
  border-radius: 10px; /* Bordas arredondadas */
  box-shadow: 0 2px 4px #ccc; /* Sutil sombra */
  padding: 3px;
  text-align: center;
  overflow-x: hidden; /* Isso remove a barra de rolagem horizontal */
}

/* Estilos para o conteúdo das caixas */
.box-content {
  color: #333; /* Cor do texto */
}

/* Cores de fundo personalizadas para cada caixa */
#box1 {
  background-color: #ffea5a; /* Amarelo */
}

#box2 {
  background-color: #76d672; /* Verde */
}

#box3 {
  background-color: #ff6b6b; /* Vermelho */
}

/* Página FAQ */

/* Estilos para o container de Dúvidas Frequentes */

.containerFAQ {
  margin: auto;
  min-height: 300px;
  padding: 20px;
}


/* Estilos para as perguntas frequentes individuais */
.faq {
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f5f5f5;
}

.faq h3 {
  font-size: 18px;
  font-weight: 600;
  color: #676767;
  margin-bottom: 10px;
}

.faq p {
  font-size: 14px;
  color: #333;
}


h1 {
  font-size: 3vw;
  border: 30px solid rgb(41, 41, 49);
  border-radius: 10px;
  margin-bottom: 20px;
  background-color: rgb(41, 41, 49);
  color: aliceblue;
}

#buttonSucesso {
  display: flex;
  justify-content:center;
  align-items:center;
}