.Container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  height: 100vh;
}

.Content {
  gap: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  box-shadow: 0 1px 2px #0003;
  background-color: white;
  max-width: 350px;
  padding: 20px;
  border-radius: 5px;
}

.Label {
  font-size: 18px;
  font-weight: 600;
  color: #676767;
  margin-bottom: 10px;
  margin-right: 10px;
}

.InputContainer {
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.labelError {
  font-size: 14px;
  color: red;
}

.Strong {
  cursor: pointer;
}

.Strong a {
  text-decoration: none;
  color: #676767;
}

.Menu {
  text-align: center;
}

.App-header {
  background-color: #ebedf1;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

h1 {
  font-size: 2em;
}

p {
  margin-top: 20px;
}

#sidebar {
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  width: 250px;
  background-color: #313132;
  padding-top: 20px;
  color: white;
}

.sidebar-header {
  text-align: center;
  padding-bottom: 10px;
}

.list-unstyled {
  padding-left: 0;
  list-style: none;
}

.list-unstyled a {
  color: white;
  text-decoration: none;
  padding: 8px 10px;
  display: block;
}

.list-unstyled a:hover {
  background-color: #495057;
}
